/* 
    Colors:
    Dark Brown: #231008
    Medium Brown: #784D2D
    Light Brown: #CBA07A
    


*/

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="grid-"], [class*="grid_"], [class~="grid"] {margin:0; }

/* ---------- Temporary styles for structural html -------------- */


/* Universal Styles and Utility Classes */

body {
    font-family: 'Catamaran', sans-serif;
    color:rgb(0, 0, 0);
}

.padded-sm      {  padding: 2.5%;    }
.padded         {  padding: 5%;      }
.padded-lg      {  padding: 10%;     }
.padded-05      {  padding: 0.5rem;  }
.padded-1       {  padding: 1rem;    }
.padded-2       {  padding: 2rem;    }

.bg-dark{
    background-color: #231008;
    color: white;
}

.bg-medium{
    background-color: #784D2D;
    color: white;
}

.bg-light{
    background-color: #CBA07A;
    color: #231008;
}

.padding-l-0  {  padding-left: 0;         }
.padding-r-0  {  padding-right: 0;        }
.padding-t-0  {  padding-top: 0;          }
.padding-b-0  {  padding-bottom: 0;       }

.padding-b-2  {  padding-bottom: 2rem;  }
.padding-t-2  {  padding-top: 2rem;     }

.capped-width { max-width: 1100px; margin: auto; }

.tall-30         { min-height: 30vh; }
.tall-40         { min-height: 40vh; }
.tall-50         { min-height: 50vh; }
.tall-60         { min-height: 60vh; }
.tall-70         { min-height: 70vh; }
.tall-80         { min-height: 80vh; }
.tall-90         { min-height: 90vh; }
.tall-100        { min-height: 100vh; }

/* ------------------------------- Typography Styles -------------------------- */

.featured-text-dark        { color: #231008; }
.featured-text-medium      { color: #784D2D; }
.featured-text-light       { color: #CBA07A; }

.featured-text-body        { color:rgb(0, 0, 0); }
.white-text                { color: white;   }

.left     {  text-align: left;     }
.right    {  text-align: right;    }
.center   {  text-align: center;   }

.font-weight-light       { font-weight: 200;}
.font-weight-normal      { font-weight: 400;}
.font-weight-bold        { font-weight: 500;}
.font-weight-extra-bold  { font-weight: 800;}

.small-text                { font-size: 1rem; }
.medium-text                { 
    font-size: 2.2rem; 
    line-height: 1.1;
}
.big-text                  { font-size: 5rem; }

.subtitle {
    font-size: 1.2rem;
    color: #784D2D;
}

.highlight {
    background-color: rgba(173, 169, 163, 0.5);
    display: inline-block;
    padding: 0.5rem;
    margin: 2px;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.8rem;
}

h2  { font-size: 2.2rem;  }
h3  { font-size: 1.8rem;  }
h4  { font-size: 1.4rem;  }
p   { font-size: 1rem;    }

p, ul {
     margin-bottom: 0.8rem;
}
  /* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
margin-bottom:0;
}

h2{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3{
    line-height: 1;
}

p{
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color:#CBA07A;
}


/* ---------------- Image Styles ---------------- */

.bg-image {
    background-image: url(/images/adventure-alula-dates.jpg);
    background-size: cover;
}

.landscape { padding-bottom: 65%;  }
.portrait  { padding-bottom: 125%; }
.square    { padding-bottom: 100%; }

/* ------------------------------- Header Styles ---------------------------- */

/* header {
    background-image: url("/images/adventure-alula-hegra.jpg");
    background-size: cover;
    background-position: center;
} */

/* header h3 {
    font-size: 6rem;
    line-height: 1;
}

header h1 {
    margin-bottom: 20rem;
} */

/* --------------- Background Images ----------------- */

.bg-dates {
    background-image: url('/images/adventure-alula-dates.jpg');
    background-position: 50% 50%;
}
.bg-trees {
    background-image: url('/images/adventure-alula-trees.jpg');
}

.bg-hegra {
    background-image: url('/images/adventure-alula-hegra.jpg');
    background-position: 50% 50%;
}

/* ----------------------- Icon Grid------------------ */

.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

/* --------------------------- Quote Section ------------------ */

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color: #784D2D;
    line-height: 1;
}

/* ------------------------ Buttons & Forms ---------------------- */

input,
textarea {
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px xolid transparent;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #8aa8b5;
}

.button {
    padding: 0.5rem 2rem;
    background-color: #8aa8b5;
    appearance: none;
    border: 2px solid #8aa8b5;
    color:#383e59;
}

.button:hover {
    background-color: #383e59;
    appearance: none;
    border: 2px solid #8aa8b5;
    color:#8aa8b5;
}


/* ------------------------ MISC ------------------------ */
  /* this is a line element */
  hr { 
    border: none;
    border-bottom: 3px solid;
    width: 4rem;
    margin-bottom: 1rem;
    }

    /* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 


@media (max-width: 64em) {

    body {
        border: 2px solid green;
    }

  html { font-size: 14px;   }
  p    { font-size: 1.1rem; }

  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-tall-40 { min-height: 40vh; }
  .md-tall-50 { min-height: 50vh; }
  .md-tall-60 { min-height: 60vh; }
  .md-tall-70 { min-height: 70vh; }
  .md-tall-80 { min-height: 80vh; }
  
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    body {
        border: 2px solid blue;
    }

    .show-sm { display: block; }
    .hide-sm { display: none;  }
       
    .sm-text-center { text-align: center; }
    .sm-text-left   { text-align: left;   }
    .sm-text-right  { text-align: right;  }
  
    .sm-padded    { padding: 5%;     }
    .sm-padded-1  { padding: 1rem;   }
    .sm-padded-05 { padding: 0.5rem; }
    .sm-padded-0  { padding: 0;      }

    .sm-padded-b-2 { padding-bottom: 2rem; }
    .sm-padded-t-2 { padding-top: 2rem;    }
  
    .sm-padded-t-0 { padding-top: 0;    }
    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-l-0 { padding-left: 0;   }
    .sm-padded-r-0 { padding-right: 0;  }
    
    .sm-margin-t-0 { margin-top: 0;    }
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-l-0 { margin-left: 0;   }
    .sm-margin-r-0 { margin-right: 0;  }

    .sm-tall-40 { min-height: 40vh; }
    .sm-tall-50 { min-height: 50vh; }
    .sm-tall-60 { min-height: 60vh; }
    .sm-tall-70 { min-height: 70vh; }
    .sm-tall-80 { min-height: 80vh; }

    .sm-align-center { justify-content: center; }

    .sm-highlight {
        background-color: rgba(163, 169, 173, .5);
        display: inline-block;
        padding: 0.2rem;
        margin: 0;
      }

    .sm-white-text {color:white;}

    .logo h2 { font-size: 2rem; }

    header h3 {
        font-size: 11vw;
    }
  }
  
  /* ------- XS Media Query (36em / 576px) --------------- */ 
  /* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 
  
  @media (max-width: 36em) {

    body {
        border: 2px solid lightblue;
    }

    .show-xs { display: block; }
    .hide-xs { display: none;  }

    .xs-tall-40 { min-height: 40vh; }
    .xs-tall-50 { min-height: 50vh; }
    .xs-tall-60 { min-height: 60vh; }
    .xs-tall-70 { min-height: 70vh; }
    .xs-tall-80 { min-height: 80vh; }

    h1 {
        font-size: 1.4rem;
        line-height: 1.1;
    }

    h2 {
        font-size: 2rem;
    }
  }